[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/viminstantmarkdown"]
	path = bundle/viminstantmarkdown
	url = https://github.com/suan/vim-instant-markdown.git
